@{
    ViewData["Title"] = "TaskCompletionSource Chat";
}

        <div class="container">
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="chat-panel">

                </div>
                <div class="row">
                    <div class="col-12">
                      <div class="chat-box-tray">
                        <input type="text" placeholder="Type your message here...">
                        <i class="material-icons">send</i>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>